/********************************************
GENERAL
********************************************/

header {
    float: center;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

body{
    font-family: 'Text Me One', sans-serif;
    font-size: 1.2em;
}
    
#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}



/********************************************
HEADING
********************************************/

#logo {
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Megrim', sans-serif;
    margin: 15px 0;
    font-size: 1.9em;
    font-weight: normal;
    line-height: 0.8em;
}

h2 {
    font-family: 'Monofett', sans-serif;
    margin: -5px 0;
    font-weight: normal;
}

/********************************************
NAVIGATION
********************************************/

nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}

/********************************************
FOOTER
********************************************/

footer {
    font-size: 0.75em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: #ccc;
}

.social-icon {
    width: 40px;
    height: 40px;
    margin: 0 5px;
}

/********************************************
COLORS
********************************************/

/* site body*/
body    {
    background-color: #fff;
    color: #999;
}

/* green header*/
header {
    background: #29303c;
    border-color: #4f5966;
}

/* nav background on mobile Header*/
nav {
    background: #4f5966;
}

/* logo text*/
h1, h2 {
    color: #fff;
}





















