body {
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-color: #b3e3ff;
	background-size: cover;
	counter-reset: fieldset;
	font-family: 'Open Sans', 'Merriwearther', sans-serif;
}


/*Main Form*/
.main {
	background-color: #transparent;
	border-radius: 5px;
	margin-left:auto;
	margin-right:auto;
	max-width: 88%;
}


/*Header*/
header {
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	background-color: #125f77;
	background: -moz-linear-gradient(#3c8ea6, #125f77);
	background: -webkit-linear-gradient(#3c8ea6, #125f77);
	background: linear-gradient(#3c8ea6, #125f77);
	border-color: #125f77;
	border-style: solid;
	border-width: 1px;
	padding: 24px 40px;
	text-rendering: optimizeLegibility !important;
}

header h1 {
	color: #fcfcfc;
	font-family: "Merriweather";
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 1px;
	margin: 0px;
	text-shadow: 2px 2px #125f77;	
}

header p {
	color: #b1e3ff;
	font-family: "Open Sans";
	font-size: 13px;
	font-weight: 400;
	margin: 0px;
	text-shadow: 2px 2px #125f77;	
}


/*Main Form*/

#myform {
	background-color: #ffffff;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 0px 20px 0px 20px;
}

fieldset {
	border-width: 0px;
	padding: 0 20px 0 20px;
}

legend {
	color: #0a5e78;
	font-family: "Merriweather";
	font-size: 19px;
	font-weight: 700;
	padding-bottom: 3px;
	padding-top: 32px;
}

/* CSS Counter*/

fieldset > legend:before{
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	background-color: #52a3d4;
	border-color: #ffffff;
	border-width: 5px;
	border: 5px solid;
	color: #ffffff;
	content: counter(fieldset);
	counter-increment: fieldset;
	display: inline-block;
	font-weight: 400;
	height: 28px;
	line-height: 1.5;
	margin-left: -63px;
	margin-right: 22px;
	text-align: center;
	width: 28px;
}


/*Form Entry Containers*/

.entrycontainer {
	background-color: #f3f5f5;
	border-radius: 10px;
	padding: 0px 30px 14px 30px;
}

.entryfield {
	padding: 10px;
}

label {
	color: #6f7070;
	display: block;
	font-family: "Open Sans";
	font-size: 12px;
}

input {
	border-radius: 5px; 
	border-top: 1px solid #CCCCCC;
	border-width: 0px;
	float: left;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 600;
	height: 30px;
	margin: 6px 0px 24px 0px;
	padding-left: 8px;
	width: 99%;
}

input#portfolio_address {
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	display: inline-block;
	width: 64%;
}

label.sample {
	background-color: #fafafa;
	border-bottom-right-radius: 5px;
	border-color: #cbcbcb;
	border-left: 1px solid #ebebeb;
	border-top-right-radius: 5px;
	border-top-width: 1px;
	border-top: 1px solid #CCCCCC;
	color: #888888;
	display: inline-block;
	font-size: 14px;
	line-height: 0;
	margin: 6px 0px 0px -3px;
	padding: 16px 0px 16px 0;
	text-align: center;
	width: 34%;
}

input#email {
	margin-bottom: 6px;
}

.accounts {
	padding-bottom: 40px;
}


/*Payment Info*/

/*Credit Card Number & Types*/
#card_number {
	width: 52%;
}

p.cctype {
	display: inline;
	margin-left: 10px;
}

.cctype label,
label.CVC {
	cursor: pointer;
	display: inline-block;
	text-indent: -9999px;
}

input[type="radio"] {
	left: -9999px;
	position: absolute;
}


/*CC Styling*/
/*AMEX*/
input#cc_amex + label {
	background: url('../images/sprite.png') no-repeat -1px -40px;
	height: 32px;
	width: 44px;
}

input#cc_amex:hover + label {
	background: url('../images/sprite.png') no-repeat 0 0;
	height: 30px;
	width: 45px;
}

input#cc_amex:checked + label {
	background: url('../images/sprite.png') no-repeat -1px -40px;
	height: 32px;
	width: 44px;
}

/*VISA*/
input#cc_visa + label {
	background: url('../images/sprite.png') no-repeat -48px -40px;
	height: 32px;
	width: 45px;
}

input#cc_visa:hover + label {
	background: url('../images/sprite.png') no-repeat -48px 0;
	height: 30px;
	width: 45px;
}

input#cc_visa:checked + label {
	background: url('../images/sprite.png') no-repeat -48px 0;
	height: 30px;
	width: 45px;
}

/*DISCOVER*/
input#cc_discover + label {
	background: url('../images/sprite.png') no-repeat -96px -40px;
	height: 32px;
	width: 45px;
}

input#cc_discover:hover + label {
	background: url('../images/sprite.png') no-repeat -96px 0;
	height: 30px;
	width: 45px;
}

input#cc_discover:checked + label {
	background: url('../images/sprite.png') no-repeat -96px -40px;
	height: 32px;
	width: 45px;
}

/*MASTERCARD*/
input#cc_mastercard + label {
	background: url('../images/sprite.png') no-repeat -144px -40px;
	height: 32px;
	width: 45px;
}

input#cc_mastercard:hover + label {
	background: url('../images/sprite.png') no-repeat -144px 0;
	height: 30px;
	width: 45px;
}

input#cc_mastercard:checked + label {
	background: url('../images/sprite.png') no-repeat -144px 0;
	height: 30px;
	width: 45px;
}


/*Security Code*/
input#security_code{
	width: 16%;
}

input#security_code + label {
	background: url('../images/sprite.png') no-repeat 0 -124px;
	height: 32px;
	width: 62px;
}

label.CVC {
	cursor: default;
	margin-left: 10px;
	margin-top: 6px;
}


/*Expiration Date*/
#expiration_date {
	color: #6f7070;
	display: block;
	font-family: "Open Sans";
	font-size: 12px;
	font-weight: 400;
	margin-top: 26px;
	padding-bottom: 10px;
	padding: 0;

}

p.exppicker {
	margin-top: -22px;
}

#exp_month,
#exp_year {
	border-radius: 5px;
	border: 1px solid #d5d7d7;
	color: #5a5a5a;
	display: inline;
	font-size: 12px;
	height: 28px;
}

.expiration_month{
	visibility: hidden;
}

.expiration_year {
	visibility: hidden;
}

/*Validation*/
input:required:invalid {
	background-image: url('../images/invalid.png');
	background-position: right;
	background-repeat: no-repeat;
}

input:required:valid {
	background-image: url('../images/valid.png');
	background-position: right;
	background-repeat: no-repeat;
}


/*button*/

.button{
	text-align: center;
	padding: 28px 0 40px 0px;
}

button {
	background-color: #7d9a2f;
	border-color: #cccccc;
	border-radius: 5px;
	border-width: 1px;
	color: #ffffff;
	font-family: "merriweather";
	font-size: 16px;
	height: 38px;
	line-height: 2.2;
	text-align: center;
	width: 218px;
}


