body {
    background-image: url("../img/bg.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    font-family: 'Share', verdana, cursive;
    margin: auto;
    text-align: center;
}

ul {
    padding: 0;
    margin-top: 7%;
}

li {
    font-size : 1.5em;
	list-style: none;
    margin: 0 auto;
}

li.fields {
    margin: 0;
	
    padding: 1em 0;
}

li#who {
    cursor: pointer;
    
	color: #e5e1e0;
    font-weight: bold;
    font-size : 2.5em;
    line-height: 3.5em;
    background: #045824;
    border-bottom: 1px solid #e5e1e0;
    border-top: 1px solid #e5e1e0;
    text-transform: uppercase;
}

li#where {
    cursor: pointer;
    
    color: #e5e1e0;
    font-weight: bold;
    font-size : 2.5em;
    line-height: 3.5em;
    background: #018f05;
    border-bottom: 1px solid #e5e1e0;
    border-top: 1px solid #e5e1e0;
    text-transform: uppercase;
}

li#what {
    cursor: pointer;
    
    color: #e5e1e0;
    font-weight: bold;
    font-size : 2.5em;
    line-height: 3.5em;
    background: #03ac37;
    border-bottom: 1px solid #e5e1e0;
    border-top: 1px solid #e5e1e0;
    text-transform: uppercase;
}

div.button {
    width: 50%;

    margin: 0 auto;

}

.button input{
    text-align: center;
    font-family: 'Share', verdana, cursive;
    font-size: 18px;
    border-color: #01a94a;
    border-width: 4px;
    color: #01a94a;
    width: 150px;
    height: 50px;
    background-color: #ffffff;
}

.button input:hover{
    background-color: #01a94a;
    color: #ffffff;

}

.hide { 
    display: none;
}