* {
	transition: all 1s ease;
}

html, 
body {
    width: 100%;
    overflow-x: hidden; 
    background-color: #171717;
    font-family: 'Source Sans Pro', sans-serif, arial;
    font-weight: 600;

}

#video-wrap video {
	width: 100%;
	background-size: cover
	background-attachment: fixed
	parallaxOptions.effect: 1
	object-fill: cover;
}

div #outer-wrap {
	width: 100%;
	height: 450px;
}

/*Navbar Font-Size FullScreen 1920*/
a.navbar-brand.page-scroll {
	font-size: 28px;
	color: #ee036a;
    text-align: right;
}

a.navbar-brand.page-scroll>a:hover {
	color: #a6a6a6;
}

.navbar-default .navbar-brand {
  color: #fff;
}

div.container {
	font-size: 22px;
	width: 80%;
}

.navbar-default .navbar-nav>li>a {
  	color: #ee036a;
    text-align: right;
 }

.navbar-default .navbar-nav>li>a:hover { 
    color: #a6a6a6;
}

/*Navbar Scroll Bar*/
li a.page.scroll {
	font-size: 20px;
	text-align: center;
	color: #ee036a;
}

li a.page.scroll a.hover {
	color: #A6A6A6;
}


/*Media Queries*/
/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {
}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {
}


/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {
}

/*Navbar CSS*/
@media screen and (min-width: 768px){
    CSS
}

#custom-nav {
    background-color: rgba(0,0,0,0);
    border: 0;
    box-shadow: none;
    z-index: 999;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: background .5s ease-in-out, opacity .5s ease;
    -moz-transition: background .5s ease-in-out, opacity .5s ease;
    transition: background .5s ease-in-out, opacity .5s ease;
}

#custom-nav .dropdown-menu {
    border-radius: 0;
    border: none;
    border-top: 5px solid transparent;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-top: 0;
}

#custom-nav .container {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top .5s ease, padding-bottom .5s ease;
    -moz-transition: padding-top .5s ease, padding-bottom .5s ease;
    transition: padding-top .5s ease, padding-top .5s ease, padding-bottom .5s ease;
}

#custom-nav.affix {
    top: 0;
    min-width: 100%;
    background-color: #f8f8f8;
    opacity: 0.9;
    -webkit-transition: background .5s ease-in-out, opacity .5s ease;
    -moz-transition: background .5s ease-in-out, opacity .5s ease;
    transition: background .5s ease-in-out, opacity .5s ease;
}

/*Navbar For Mobile*/
@media screen and (max-width: 767px){
    #wrapwrap {
        padding-top: 50px;
    }

    
    .navbar-fixed-top {
        z-index: 999;
    }
}
   

/*Portfolio*/
.block1,

.block2, 
.block3,

.block4,
.block5,
.block6 {
    margin: 10px 0 10px 0;
    background-position: 50% 50%;
    background: url(http://placehold.it/600x300) no-repeat center;
    height: 300px;
    width: 100%;
    display: block;
    text-align: 0 auto;
    background-size: cover;
}

/*about*/
.about {
    margin: 10px 0 10px 0;
    background-position: 50% 50%;
    background: url(http://placehold.it/1900x400) no-repeat center;
    height: 400px;
    width: 100%;
    display: block;
    text-align: 0 auto;
}

/*contact*/
.contact {
    margin: 10px 0 10px 0;
    background-position: 50% 50%;
    background: url(http://placehold.it/1900x400) no-repeat center;
    height: 400px;
    width: 100%;
    display: block;
    text-align: 0 auto;
}

div.footer h1 {
    text-aligne: center;
}